<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ import namespace="System" #>
<#@ output extension=".cs" #>
<# String type = null; #>
namespace Droid.Core
{
<# type = "float"; #>
<#@ include file="Interpolate.t4" #>
}