<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ import namespace="System" #>
<#@ output extension=".cs" #>
<# String type = null; #>
namespace System.NumericsX
{
<# type = "float"; #>
<#@ include file="Interpolate.t4" #>
<# type = "Vector4"; #>
<#@ include file="Interpolate.t4" #>
}